@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
}
:root{
  --nav-color: #9EA7B8;
}

.container{
  max-width: 1200px;
  height: 135vh;
  /* background: linear-gradient(#fff, ); */
  margin: 0 auto;
}
.container2{
  max-width: 1200px;  
  margin: 0 auto;
  background-color: #fff;
}